.m1ytpwda{padding:24px;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;}
.i1p5s9vt{width:100%;height:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}.i1p5s9vt > *{width:49%;height:100%;}

.pnopd40{border:solid 1px #333;display:block;padding:1em;line-height:1.2;}.pnopd40 > *{margin:initial;padding:inherit;}

.t13ol3h6{border:solid 1px #333;display:block;overflow-y:scroll;}

.hwue83p{padding:16px;font-size:32px;border:1px solid #333;}

.e1a0l4jg{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;width:100vw;height:100vh;}

body{font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN", "Hiragino Sans",Meiryo,sans-serif;font-size:16px;}*,*::before,*::after{margin:0;padding:0;box-sizing:border-box;}

